<h2>Template: <small>Dinamicos</small></h2>

<hr />

<form [formGroup]="miFormulario" (ngSubmit)="guardar()">
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Nombre</label>

    <div class="col-sm-9">
      <input
        type="text"
        class="form-control"
        name="nombre"
        formControlName="nombre"
        placeholder="Nombre de la persona"
      />

      <span class="form-text text-danger" *ngIf="validarNombre()"
        >Debe ser de 3 letras el nombre
      </span>
    </div>
  </div>

  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Favoritos</label>

    <div class="col-sm-9">
      <div class="input-group">
        <input
          type="text"
          [formControl]="nuevoFavorito"
          class="form-control"
          name="juegoFavorito"
          placeholder="Agregar Favorito"
        />
        <button
          type="button"
          (click)="agregarFavorito()"
          class="btn btn-outline-primary"
        >
          Agregar
        </button>
      </div>
    </div>
  </div>

  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Favoritos</label>

    <div class="col-sm-9" formArrayName="favoritos">
      <div
        class="input-group mb-1"
        *ngFor="let item of FavoritosArr.controls; let i = index"
      >
        <input type="text" [formControlName]="i" class="form-control mb-1" />

        <button
          type="button"
          (click)="eliminar(i)"
          class="btn btn-outline-danger"
        >
          Eliminar
        </button>
      </div>
    </div>
  </div>

  <div class="mb-3 row">
    <div class="col-sm-12">
      <button type="submit" class="btn btn-primary float-end">Guardar</button>
    </div>
  </div>
</form>

<div class="row">
  <div class="col">
    <span>Valid</span>
    <pre>

        {{ nuevoFavorito.valid }}
    </pre>
  </div>

  <div class="col">
    <span>Value</span>
    <pre>

        {{ miFormulario.value | json }}
    </pre>
  </div>
</div>
