<h2>Validaciones Reactivas</h2>
<hr />
<div class="row">
  <div class="col">
    <form action="">
      <div class="row mb-3">
        <label for="" class="col-sm-3 col-form-label">Nombre</label>

        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            placeholder="Nombre del usuario"
          />
          <span class="form-text text-danger">
            Debe de ser en formato de nombre y apellido</span
          >
        </div>
      </div>

      <div class="row mb-3">
        <label for="" class="col-sm-3 col-form-label">Email</label>

        <div class="col-sm-9">
          <input
            type="email"
            class="form-control"
            placeholder="Nombre del usuario"
          />
        </div>
      </div>

      <div class="row mb-3">
        <label for="" class="col-sm-3 col-form-label">Codigo</label>

        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            placeholder="Codigo del usuario"
          />
        </div>
      </div>

      <div class="row mb-3">
        <label for="" class="col-sm-3 col-form-label">Contraseña</label>

        <div class="col-sm-9">
          <input
            type="password"
            class="form-control"
            placeholder="Contraseña del usuario"
          />
        </div>
      </div>

      <div class="row mb-3">
        <label for="" class="col-sm-3 col-form-label"
          >Confirmar la contraseña</label
        >

        <div class="col-sm-9">
          <input
            type="password"
            class="form-control"
            placeholder="Confirmar contraseña del usuario"
          />
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button class="btn btn-primary">Crear</button>
        </div>
      </div>
    </form>
  </div>
</div>
